header {
    background-color: rgb(102, 9, 71);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.d-block {
    display: block;
}

#plava {
    display: flex;
    flex-direction: row;
}

body {
    margin: 0;
    padding: 0;
}

.w-100 {
    width: 100%"

}

* {
    font-family: "luicida handwriting", Helvetica, sans-serif;
}
